<?xml version="1.0"?>
<launch>

  <!-- Command Line Argument to Select Mode -->
  <arg name="mode" default="simulation" doc="available modes: [hardware, simulation]"/>


  <!-- Load the robot model into the parameter server -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find rafiq_description)/urdf/rafiq.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Joint State Publisher - Publishes Joint Positions -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Robot State Publisher  - Uses URDF and Joint States to compute Transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- RVIZ  - Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rafiq_description)/rviz/navigation.rviz"/>

  <!-- Map server -->
  <!--node pkg="map_server" name="map_server" type="map_server" args="'$(find my_robot_model)/maps/plaza_world_map.yaml'"/-->
  <node pkg="map_server" name="map_server" type="map_server" args="'$(find rafiq_description)/maps/robocon_map.yaml'"/>
  <!-- AMCL - Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find rafiq_bringup)/config/amcl.yaml" command="load"/>
  </node>

  <!-- Move Base - Navigation -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find rafiq_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find rafiq_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find rafiq_bringup)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rafiq_bringup)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find rafiq_bringup)/config/global_planner_params.yaml" command="load" />

    <!-- GLOBAL PLANNERS -->
    <!--param name="base_global_planner" value="navfn/NavfnROS" /-->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    
    <!-- LOCAL PLANNERS -->
    <rosparam file="$(find rafiq_bringup)/config/dwa_local_planner.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <!--rosparam file="$(find rafiq_bringup)/config/teb_local_planner.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /-->
  </node>

</launch>
